
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1, h2{
	font-family:  'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

body{
	margin: 0px;
	background: url("../img/intersection.png");
}

a:link, a:visited{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	text-decoration: none;
}

a:active, a:hover{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4aaaa5;
	text-decoration: underline;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

header{
/*	position: fixed;
	top: 0;
	left: 0;*/
	background: #fff;
	border-bottom: 2px solid #dddddd;
}

.header-box{
	float: left;
	color: #fff;
	background: #4aaaa5;
	text-align: center;
	padding: 30px;
	margin: 0px;
}

.header-nav{
	float:right;
	padding: 30px;
	margin: 0px;
}

.content{
	float: left;
	width: 620px;
	border: 1px solid #dddddd;
	padding: 15px;
	margin-top: 20px;
	line-height: 24px;
	background: #fff;
}

.sidebar{
	float: right;
	width: 240px;
	border: 1px solid #dddddd;
	padding: 15px;
	margin-top: 20px;
}

footer{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
	text-align: center;
	font-size: 12px;
	background: #666666;
	border-top: 4px solid #4aaaa5;
	padding: 30px;
	margin-top: 20px;
}


